<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libre.system.mapper.UserPostMapper">
  <resultMap id="BaseResultMap" type="com.libre.system.entity.UserPost">
    <!--@mbg.generated-->
    <!--@Table sys_user_post-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="post_id" jdbcType="BIGINT" property="postId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, post_id
  </sql>
</mapper>